<launch>  
  <arg name="image" default="/camera/rgb/image_mono"/>
  <arg name="chessboard" default="true" />
  <arg name="x_step" default="8" />
  <arg name="y_step" default="6" />
  <arg name="size" default="0.04" />
  <node name="workspace_calibrator" pkg="workspace_calibrator" type="workspace_calibrator" output="screen">  
  	<param name="image" value="$(arg image)"/>
	<param name="chessboard" value="$(arg chessboard)"/>
  	<param name="x_step" value="$(arg x_step)"/>
  	<param name="y_step" value="$(arg y_step)"/>
  	<param name="size" value="$(arg size)"/>
  </node>  
</launch>