<launch>
  <node pkg="tf" type="static_transform_publisher" name="kinect_server_tf" args="-0.3 -0.5 0.85 0.489569 0.684466 0.43949 0.314258 base_link kinect_server 100" />

  <node pkg="hg_kinect_interaction" type="kinect_interaction" name="kinect_interaction" output="screen">
    <remap from="~skeletons_in" to="/kinect_server/skeletons" />        
  </node>
</launch>  
  

  