<launch>  
  <node pkg="hg_inspector_arm" type="inspector_arm" name="inspector_arm" output="screen">
    <rosparam command="load" file="$(find vp6242_arm_navigation)/config/cartesian_planning.yaml" />
    <param name="base_link" value="base_link" />    
    <param name="world_frame" value="base_link" />    
    <remap from="plan_cartesian_path" to="cartesian_planner/plan_cartesian_path"/>      	  	
    <remap from="hands_message" to="object_tracking/hands"/>
  </node>
</launch>