<launch>
  <node pkg="hg_hand_interaction" type="hand_interaction" name="hand_interaction" output="screen">
    <remap from="~hands_in" to="/object_tracking/hands" />     
    <rosparam>                  
      sweep_hand_gesture_windows: 0.3
      sweep_hand_gesture_gap: 0.5      
      filter_window_size: 5
    </rosparam>
  </node>
</launch>  
  
