<launch>  
  <arg name="camera_name" default="camera"/>
  <arg name="device_id" default="A00363807157051A" />

  <!-- Kinect -->
  <include file="$(find openni_launch)/launch/openni.launch">    
    <arg name="camera" value="$(arg camera_name)" />
    <arg name="device_id" value="$(arg device_id)" />
    <arg name="depth_registration" value="true" />
  </include>
  
  <node pkg="tf" type="static_transform_publisher" name="world_broadcaster" 
    args="-0.723413 -0.608987 1.840925 0.703777 0.709907 -0.026892 -0.002382 $(arg camera_name)_rgb_optical_frame world 10"/>  
    

  <node pkg="prw_object_tracking" type="object_tracking" name="prw_object_tracking" output="screen">
    <param name="camera" value="$(arg camera_name)"/>
    <rosparam>
      output_frame: /world
      filter_limit_min_z: -0.04
      filter_limit_max_z: 1.5
      filter_limit_min_y: -0.05
      filter_limit_max_y: 1.36
      filter_limit_min_x: -0.05
      filter_limit_max_x: 0.76
      filter_limit_negative: False
      leaf_size: 0.01            
      ec_distance_threshold: 0.025
      ec_cluster_tolerance: 0.02
      ec_min_size: 25
      ec_max_size: 1000
    </rosparam>
  </node>
  
  <!--node pkg="rviz" type="rviz" name="rviz" output="screen" args="-d $(find prw_object_tracking)/cfg/prw_object_tracking.vcg"/-->
  
  <!-- PCL pipeline -->
  <!--node pkg="nodelet" type="nodelet" name="pcl_manager" args="manager" output="screen" /-->

  <!-- Run a VoxelGrid filter to clean NaNs and downsample the data -->
  <!-- node pkg="nodelet" type="nodelet" name="voxel_grid_z" args="load pcl/VoxelGrid pcl_manager" output="screen">    
    <remap from="~input" to="/kinect7051A/depth_registered/points" />
    <rosparam>
      filter_field_name: z
      filter_limit_min: -0.05
      filter_limit_max: 2.0
      filter_limit_negative: False
      leaf_size: 0.01
      output_frame: /world
    </rosparam>
  </node-->
  
  <!--node pkg="nodelet" type="nodelet" name="voxel_grid_x" args="load pcl/VoxelGrid pcl_manager" output="screen">   
    <remap from="~input" to="/voxel_grid_z/output" />
    <rosparam>
      filter_field_name: x
      filter_limit_min: -1.0
      filter_limit_max: 0.76
      filter_limit_negative: False
      leaf_size: 0.001      
    </rosparam>
  </node-->
  
</launch>  
  