<launch>
<node pkg="collider" type="collider_node" name="collider_node" respawn="true" output="screen">
  <param name="fixed_frame" type="string" value="base_link" />
  <param name="resolution" type="double" value="0.02" />
  <param name="max_range" type="double" value="5.0" />
  <remap from="full_cloud_filtered" to="/passthrough_y/output" />

  <remap from="collision_map_out" to="collision_map_occ" />
  <remap from="point_cloud_out" to="octomap_point_cloud" />

  <!-- cloud sources -->
  <rosparam command="load" file="$(find hg_demo)/config/vp6242_with_c920_collision_map_sources.yaml" />


  <!-- self filtering links -->
  <rosparam command="load" file="$(find hg_demo)/config/vp6242_with_c920_self_filter.yaml" />
</node>
</launch>

