<launch>     
  <node name="camera_setup" pkg="camera_setup" type="camera_setup" output="screen"> 
    <param name="camera_n" value="1"/>  	
    <param name="camera_0" value="Center 0.634019 -0.015773 1.24863 -0.692629 0.713241 0.0795708 -0.0722579 base_link kinect_center_rgb_optical_frame"/>  </node>     
</launch>
