<launch>
  <include file="$(find prw)/launch/kinect_center.launch"/>
  <include file="$(find prw)/launch/kinect_left.launch"/>
  <include file="$(find prw)/launch/kinect_right.launch"/>

  <!-- PCL pipeline -->
  <node pkg="nodelet" type="nodelet" name="pcl_manager" args="manager" output="screen" />

  <!-- Run a VoxelGrid filter to clean NaNs and downsample the data -->
  <node pkg="nodelet" type="nodelet" name="voxel_grid_center_z" args="load pcl/VoxelGrid pcl_manager" output="screen">    
    <remap from="~input" to="/kinect_center/depth_registered/points" />
    <rosparam>
      filter_field_name: z
      filter_limit_min: 0.0
      filter_limit_max: 1.5
      filter_limit_negative: False
      leaf_size: 0.01
      output_frame: /world
    </rosparam>
  </node>

  <node pkg="nodelet" type="nodelet" name="voxel_grid_left_z" args="load pcl/VoxelGrid pcl_manager" output="screen">    
    <remap from="~input" to="/kinect_left/depth_registered/points" />
    <rosparam>
      filter_field_name: z
      filter_limit_min: 0.0
      filter_limit_max: 1.5
      filter_limit_negative: False
      leaf_size: 0.01
      output_frame: /world
    </rosparam>
  </node>  

  <node pkg="nodelet" type="nodelet" name="voxel_grid_right_z" args="load pcl/VoxelGrid pcl_manager" output="screen">    
    <remap from="~input" to="/kinect_right/depth_registered/points" />
    <rosparam>
      filter_field_name: z
      filter_limit_min: 0.0
      filter_limit_max: 1.5
      filter_limit_negative: False
      leaf_size: 0.01
      output_frame: /world
    </rosparam>
  </node> 

</launch>
