<launch>
  <arg name="robot" default="vp6242"/>

  <!-- joy node -->
  <node respawn="true" pkg="joy" type="joy" name="dualshock2_joy" >
    <param name="dev" type="string" value="/dev/input/js0" />
    <param name="autorepeat_rate" value="10"/>
    <param name="deadzone" value="0.12"/>
  </node>
   
  <node pkg="prw_teleop" type="teleop_arm_joy" name="teleop_arm_$(arg robot)_joy" output="screen">
    <!--param name="min_axes" value ="6"/-->
    <!--param name="min_buttons" value ="4"/-->   
    <param name="move_rate" value="0.05"/><!-- rad/s -->

    <!--DualShock2-->
    <param name="dead_man_button" value ="4"/><!-- L2 -->
    <param name="axis_j0" value ="0"/><!-- left analog H -->
    <param name="axis_j1" value ="1"/><!-- left analog V -->
    <param name="axis_j2" value ="2"/><!-- right analog H -->
    <param name="axis_j3" value ="3"/><!-- right analog V -->
    <param name="axis_j4" value ="4"/><!-- arrow H -->
    <param name="axis_j5" value ="5"/><!-- arrow V -->      
       

    <remap from="command0" to="$(arg robot)/J1/command/position_relative" />
    <remap from="command1" to="$(arg robot)/J2/command/position_relative" />
    <remap from="command2" to="$(arg robot)/J3/command/position_relative" />
    <remap from="command3" to="$(arg robot)/J4/command/position_relative" />
    <remap from="command4" to="$(arg robot)/J5/command/position_relative" />
    <remap from="command5" to="$(arg robot)/J6/command/position_relative" />
  </node>
</launch>
