<launch>

  <!-- To Use, do the following:
        sudo bash
        rosrun ps3joy ps3joy.py
  -->

   <!-- joy node -->
  <node respawn="true" pkg="joy"
        type="joy" name="ve026a_joy" >
    <param name="dev" type="string" value="/dev/input/js0" />
    <param name="autorepeat_rate" value="20" />
  </node>
  
  
  <node pkg="ve026a_teleop" type="ve026a_teleop" name="ve026a_teleop" output="screen">
  </node>

</launch>

