<launch>
  <!-- HgROS -->
  <node name="HgROS" pkg="hg_cpp" type="hg_ros" output="screen">	
	<rosparam file="$(find hg_cpp)/params/test.yaml" command="load" />
	<param name="robot_description/ve026a" textfile="$(find ve026a_description)/robot/ve026a.urdf" />
	<param name="simulate" value="true"/>
  </node>
 
  <node pkg="robot_state_publisher" type="state_publisher" name="rob_st_pub" >
      <remap from="robot_description" to="/HgROS/robot_description/ve026a" />
      <remap from="joint_states" to="/HgROS/joint_states" /> -->
  </node>
  
    <!-- fk/ik solver -->
  <node pkg="arm_kinematics" type="arm_kinematics" name="arm_kinematics" >
    <remap from="robot_description" to="/HgROS/robot_description/ve026a" />
    <param name="root_name" value="base_link" />
    <param name="tip_name" value="link5" />
  </node>
  
  <node pkg="rviz" type="rviz" name="rviz">
      <remap from="robot_description" to="/HgROS/robot_description/ve026a" />
  </node>
 
</launch>
