<launch> 
  <arg name="simulated_robot" default="true"/>

  <param name="robot_description" textfile="$(find vp6242_description)/robot/vp6242.urdf" />
  <rosparam command="load" ns="robot_description_planning" file="$(find vp6242_arm_navigation)/config/vp6242_planning_description.yaml" />
 
  <include file="$(find planning_environment)/launch/environment_server.launch" >
    <arg name="use_monitor" value="true"/>
    <arg name="use_collision_map" value="false"/>
  </include>
  
  <include file="$(find vp6242_arm_navigation)/launch/constraint_aware_kinematics.launch" />
  <include file="$(find vp6242_arm_navigation)/launch/ompl_planning.launch" />
  <include file="$(find vp6242_arm_navigation)/launch/trajectory_filter_server.launch" />

  <!-- RC7M -->
  <node name="vp6242" pkg="hg_cpp" type="hg_ros" output="screen">
    <param name="simulate" value="$(arg simulated_robot)"/>
    <param name="loop_rate" value="100.0"/>
    <param name="joint_publish_rate" value="50.0"/>
    <param name="diagnostic_publish_rate" value="10.0"/>      
    <rosparam file="$(find rc7m)/parameters/vp6242.yaml" command="load" />    
  </node>
  
  <node pkg="robot_state_publisher" type="state_publisher" name="rob_st_pub" output="screen">      
  </node>
  
  <node pkg="prw" type="personal_robotic_workspace" name="prw" output="screen">
    <remap from="kinect_gesture" to="/kinect_server/kinect_gesture" />   
  </node>
  
  <node pkg="rviz" type="rviz" name="rviz" output="screen" args="-d $(find prw)/cfg/prw.vcg">    
  </node>
    
</launch>
