<launch>
	<!-- No namespace here as we will share this description. Access with slash at the beginning -->
  	<param name="robot_description" command="$(find xacro)/xacro.py $(find denso_common)/urdf/vp6242_dual.xacro" />
  	
  	<node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen"/>
  	
  	<node pkg="vp6242_helping_hand" type="vp6242_dual_helping_hand_node" name="vp6242_dual_helping_hand_node" output="screen">
  	  	<rosparam>          
            simulate: true
            arm0_ip: "10.0.0.101"
            arm0_port: "5007"
  	  		arm1_ip: "10.0.0.102"
            arm1_port: "5007"
            JPAC0:
                type: "hg_common_controller::JointPositionActionController"
                prefix: "arm0_"  
                joints: [joint1, joint2, joint3, joint4, joint5, joint6]
            JPAC1:
                type: "hg_common_controller::JointPositionActionController"
                prefix: "arm1_"  
                joints: [joint1, joint2, joint3, joint4, joint5, joint6]
        </rosparam>        
  	</node>
</launch>