<launch>
	<!-- No namespace here as we will share this description. Access with slash at the beginning -->
  	<param name="robot_description" command="$(find xacro)/xacro.py $(find denso_common)/urdf/vp6242_dual.xacro" />
  	
  	<node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen"/>
  	
  	<node pkg="vp6242_helping_hand" type="vp6242_helping_hand_node" name="vp6242_helping_hand_node" output="screen">
	    <rosparam>          
            ip: "10.0.0.101"
            port: "5007"
        </rosparam>        
  	</node>
</launch>