<launch>
    <!--param name="robot_description" textfile="$(find vp6242_description)/robot/vp6242_force_sensor_soldering_lead.urdf" /-->
    <param name="robot_description" command="$(find xacro)/xacro.py '$(find vp6242_description)/robot/vp6242_force_sensor_soldering_lead.urdf.xacro'"/>
    <rosparam command="load" ns="robot_description_planning" file="$(find vp6242_force_sensor_soldering_lead_arm_navigation)/config/vp6242_force_sensor_soldering_lead_planning_description.yaml" />
</launch>
