<launch>  
  
  <!-- HgROS -->
  <node name="HgROS" pkg="hg_cpp" type="hg_ros" output="screen">  
    <rosparam file="$(find hg_cpp)/parameters/test.yaml" command="load" />
    <param name="robot_description/vp6242" textfile="$(find vp6242_description)/robot/vp6242.urdf" />
    <param name="simulate" value="true"/>
  </node>
  
</launch>