<launch>  
  
  <!-- RC7M -->
  <node name="arm1" pkg="hg_cpp" type="hg_ros" output="screen">
    <param name="simulate" value="true"/>
    <param name="loop_rate" value="50.0"/>
    <param name="joint_publish_rate" value="10.0"/>
    <param name="diagnostic_publish_rate" value="10.0"/>
      
    <rosparam file="$(find rc7m)/parameters/vp6242.yaml" command="load" />
    <param name="robot_description" textfile="$(find vp6242_description)/robot/vp6242.urdf" />    
  </node>
  
</launch>
